@font-face {
  font-family: "NaNHoloVF";
  src: url("../fonts/NaNHoloVF.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Surt";
  src: url("../fonts/Surt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Surt";
  src: url("../fonts/Surt-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
