@import url('https://rawgit.com/jonasjohansson/template/master/reset.css');

:root {
	--base:				24px;
	--font-family: 		'MaisonNeue-Book',system-ui,-apple-system;
	--font-size-body:	22px;
	--font-size-small:	18px;
}

/* html */

html {
	background-color:rgb(208,208,208);
	color:rgb(8,8,8);
}

/* body */

body {
	font-family:var(--font-family);
	font-size:var(--font-size-body);
	line-height:1.3em;
	background-color:white;
}

/* nav */

nav {
	position:fixed;
	pointer-events:none;
	z-index:10;
}

nav a {
	position:fixed;
	pointer-events:auto;
	padding:2rem;
}

.logo {
	top:0;
	left:0;
}

.logo img {
	width:40px;
   mix-blend-mode: saturation;
  }
}

.contact {
	bottom:0;
	right:0;
}

/* main */

main {
	position:relative;
}

/*main article {
	top: 0;
	bottom:0;
	width: 100%;
	position:fixed;
	overflow-y:scroll;
	overflow-x:hidden;
	opacity:0;
	z-index:-1;
}*/

article p {
	/*padding:2rem;*/
	box-sizing:border-box;
}

main article .inner {
	position:relative;
	width:100%;
	overflow-y:scroll;
	padding:0 calc(var(--base)/2);
	box-sizing:border-box;
	text-align:center;
}

main article .inner div {
	width:100%;
	display:inline-block;
	text-align:center;
	cursor:e-resize;
	padding:var(--base) 0;
}

main article:last-child .inner div {
	padding-bottom:0;
}

main article .inner div.intro {
	width:50%;
	display:inline-block;
}

main article .inner div.text {
	text-align:left;
}

main article .inner div.intro {
	/*min-height:100vh;*/
}

						
.center {
						
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.media,
img {
	line-height:0;
}

main article.show {
	opacity:1;
	z-index:1;
}

/* classes */

.top {
	top:0;
}

.right {
	right:0;
}

.bottom {
	bottom:0;
}

.left {
	left:0;
}